[submodule "deps/nova-physics"]
	path = deps/nova-physics
	url = https://github.com/kadir014/nova-physics
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/RandomcodeDev/discord-rpc
